.gap{
    padding-top: 120px;
}
.pad{
    padding-top: 20px
}
.responsive-image {
width: 100%;
height: auto;
max-height: 700px;
object-fit: contain;
margin-top: 25px;
margin-bottom: 25px;
border-radius: 20px !important;
}

.responsive-image-1{
  width: 100%;
  height: auto;
  max-height: 750px;
  object-fit: contain;
  margin-top: 25px;
  border-radius: 20px;

  margin-bottom: 25px;
  filter: saturate(1.25) contrast(1);
}

@media (max-width: 768px) {
    .responsive-image {
        max-height: 400px;
        border-radius: 20px !important;


    }
}
.blog-paragraph {
    color: white;
    font-size: 18px;
    line-height: 1.9;
    letter-spacing: 0.5px;
    font-family: 'Inter', sans-serif;
    margin-top: 15px;
  }
  .image-row {
    display: flex;
    justify-content: center; /* centers the images */
    gap: 20px; /* space between images */
    flex-wrap: wrap; /* allow stacking on small screens */
    margin-top: 20px;
  }
  .row-img {
    max-width: 100%;
    width: 45%; /* adjust this as needed */
    height: auto;
    border-radius: 12px; /* optional for rounded corners */
  }
  
.side-min {
display: inline-flex;
gap: 5px;
align-items: center; /* aligns text vertically */
}

.blog-layout {
display: flex;
align-items: flex-start;
gap: 20px;
width: 100%;
max-width: 1200px;
margin: 0 auto;

}
.divider {
background-color: #303d4c; /* match your dark bluish color */
flex-shrink: 0;
}

@media (min-width: 769px){

    .divider {
        width: 5px;
        height: auto;
        align-self: stretch;
      }
}
@media (max-width: 768px) {
    .blog-layout {
      flex-direction: column;
      gap: 20px;
    }
  
    .divider {
      height: 5px;
      width: 90%;
      align-self: center;
      margin: 20px 0;
    }
}

.h1-simple{
    color: white;
    font-size: 75px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    -webkit-text-fill-color: white;
}

.h2-simple{
    color: white;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    -webkit-text-fill-color: white;
}

.h3-simple{
    color: lightgray;
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    -webkit-text-fill-color: lightgray;
}